---
layout: archive
title: 'Learn Planetary'
permalink: /learn-planetary-aspects/
author_profile: true
---

Plutonian
<br />
Cusp of Magic
<br />
☉ ♋︎ 2°
<br />
☾ ♉︎ 19°
<br />
ASC ♌︎ 19.5°
<br />
MC ♉︎ 26°
<br />
☊ ♏︎ 4°
<br />
<br />
Thoughts On Astrology:
<br />
Highly subjective, however It's still cool.
<br />
Aspects, signs, planets, houses Characteristics intrigue me.
<br />
I'm not into tarot.
<br />
Thinking about starting to read your birth chart.
<br />
{% include base_path %} {% for post in site.planetary reversed %} {% include
archive-single.html %} {% endfor %}
