---
layout: archive
title: 'Order a Birth Chart Reading'
permalink: /birth-chart-reading-order/
author_profile: true
---

I'm doing birth chart reading in my spare time. 
<br/>
Currently doing it for free, If the feedbacks are reasonable enough to do in business means, then I consider taking some pay.
<br/>
Book your birth chart here: https://s.id/formbirthchart
<br />
Contact me if you want to have a sample first.
<br />
Birth Chart Reading Feedbacks:
<br />

<aside style="background-color: #f9f9fb;
border: 1px solid #cdcdcd;
border-radius: 4;
box-shadow: 4;
margin: 2rem 0;
padding: 1rem;">
Total Readings: 6<br/>
Total feedbacks: 6<br/>
Total 'formed' feedbacks: 2<br/>
10 Rate 'Tingkat relatable dengan pengalaman, atau diri anda secara keseluruhan dari pembacaan birth chart' : 1<br/>
9 Rate 'Tingkat relatable dengan pengalaman, atau diri anda secara keseluruhan dari pembacaan birth chart': 1<br/>
10 Rate 'Tingkat penyampaian pembacaan birth chart': 1<br/>
8 Rate 'Tingkat penyampaian pembacaan birth chart': 1<br/>
10 Rate 'Tingkat keinginan merekomendasikan ke orang lain setelah mendapat hasil pembacaan birth chart': 2<br/>
<br/>
Additional Comments:<br/>
Penyampaian chatnya keren kok, cuma kadang loading ya... Gimana cara menyampaikan ke klien dengan bahasa yang enak gitu kan maunya? Semangat latihan.<br/>
Overall udah OK.. <br/>
</aside>

<img src="https://raw.githubusercontent.com/shohiebsense/shohiebsense.github.io/master/birth%20chart%20reading%20feedbacks/feedback1.png">
<br />
<hr style="background-color: #f9f9fb;">
<br />
<img src="https://raw.githubusercontent.com/shohiebsense/shohiebsense.github.io/master/birth%20chart%20reading%20feedbacks/feedback2.png">
<br />
<hr style="background-color: #f9f9fb;">
<br />
<img src="https://raw.githubusercontent.com/shohiebsense/shohiebsense.github.io/master/birth%20chart%20reading%20feedbacks/feedback3.png">
<br/>
<hr style="background-color: #f9f9fb;">
<br/>
About the reader: 
<br />
Plutonian
<br />
Cusp of Magic
<br />
☉ ♋︎ 2°
<br />
☾ ♉︎ 19°
<br />
ASC ♌︎ 19.5°
<br />
MC ♉︎ 26°
<br />
☊ ♏︎ 4°
<br />
<br />
Thoughts On Astrology:
<br />
Highly subjective, however It's still cool.
<br />
Aspects, signs, planets, houses Characteristics intrigue me.
<br />
I'm not into tarot.
<br />
Thinking about starting to read your birth chart.
<br />
{% include base_path %} {% for post in site.planetary reversed %} {% include
archive-single.html %} {% endfor %}
